<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Behavior Changes") %> Behavior Changes</h1>
		<%= image_tag 'continuousoptmain.png', class: "img-responsive" %>
		<br>
		<br>
		<p>The success of an energy efficiency initiative depends on people as much as or even more than technology. To maximize the energy savings potential of your building, make the effort to raise the awareness of everyone involved, including staff, managers, executives, tenants and suppliers through an Energy Efficiency Awareness Program.</p>

		<p>A comprehensive awareness program supports and reinforces your organization’s overall energy efficiency objectives. By engaging your employees and changing workplace behaviours, you can improve your organization’s energy efficiency and lower costs. You can reinvest these savings into areas such as research and development (R&amp;D), training or building improvements. Simply put, investing in your employees pays off. Creating an energy savings culture in your workplace will identify conservation opportunities and goals that sustain energy efficiency over the long term. An awareness program is a key component of a successful energy management plan that can help identify cost-saving opportunities in places you may not have considered.</p>

		<p>The following benefits are contributed to a successful awareness program: 
			<ul>
				<li>lower operating and production costs</li>
				<li>improve your competitive position</li>
				<li>reduce GHG emissions</li>
				<li>increase operational efficiency</li>
				<li>create a better work environment</li>
				<li>assemble an energy management team</li>
				<li>build a strategic framework for energy management</li>
				<li>make your organization a leader in energy efficiency</li>
			</ul>
		</p>
	</div>
</div>