<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "BOMA BESt Certification") %> BOMA BESt Certification</h1>
		<%= image_tag 'continuousoptmain.png', class: "img-responsive" %>
		<br>
		<br>
		<p>We offer complete package services for BOMA BESt rating certification. </p>

		<p>All requirements in areas of Energy; Water; Waste Diversion &amp; Site; Emissions &amp; Effluents; Indoor Environment; and Environmental Management Policies are completed on behalf of a client by CES in house staff personnel.Typically included within these projects scope of work is the capital plan and recommendations for building operations improvements allowing for BOMA BESt and LEED EBOM certification in a near future. </p>

	</div>
</div>