<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1>Continuous Optimization</h1>
		<%= image_tag 'continuousoptmain.png', class: "img-responsive" %>
	</div>
</div>