<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Decon Chambers") %> Decon Chambers</h1>
		<%= image_tag 'industrialcxmain-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>
			We provide comprehensive commissioning services for Decon Chambers and Effluent Sterilization Systems. Our typical services for these projects include:  
				<ul>
					<li>Advise and commentary on the selection of appropriate decontamination technology based on project specific conditions and parameters. The work includes analysis of the current waste decontamination market and industry as well as a number of proprietary technology solutions</li>
					<li>Assistance in preparation of the selected technology RFP documents</li>
					<li>Tender evaluations and vendor selection</li>
					<li>Shop drawings review and waste decontamination process customization to specific project requirements</li>
					<li>Witnessing factory acceptance tests witness, acceptance and deficiency reports (Helsinki, Finland)</li>
					<li>Site acceptance tests acceptance and validations</li>
					<li>Operator training and project record documentation</li>
				</ul>
		</p>
	</div>
</div>