<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Design Build Projects") %> Design Build Projects</h1>
		<%= image_tag 'continuousoptmain.png', class: "img-responsive" %>
		<br>
		<br>
		<p>Our holistic service offer combining commissioning, energy management and design services are ideally suited for ESCO type projects.</p>

		<p>We are the experts in identifying energy savings and facility upgrade opportunities and equally experienced in measuring and verifying savings from individual energy conservation measures.</p>

		<p>Combined with full package MEP design services and in house commissioning, testing, balancing and building controls capacities we are the logical source for managing and executing ESCO type design build projects. </p>

	</div>
</div>