<%= content_for(:title, "Energy Performance") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Energy Performance French</h1>
		<%= image_tag 'energyperfmain.png', class: "img-responsive" %>
		<div class="row">
			<div class="col-md-4">
				<p>INCENTIVE MANAGEMENT</p>
			</div>
			<div class="col-md-4">
				<p>ENERGY STUDIES</p>
			</div>
			<div class="col-md-4">
				<p>BUIDLING ENERGY SIMULATION</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<p>ENERGY STUDIES</p>
			</div>
			<div class="col-md-4">
				<p>ENERGY STUDIES</p>
			</div>
			<div class="col-md-4">
			</div>
		</div>

		</div>
	</div>