<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Incentive Management") %> Incentive Management</h1>
		<%= image_tag 'energyperfmain-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>C.E.S. Engineering participates in multiple energy savings and technology incentive program. We are working with Federal, Provincial and Municipal Government and Utility groups on implementation and/or creation of various rebate programs. We invest continuously in research and development relating to building systems operation optimization.</p>

		<p>CES Engineering is receiving federal and provincial tax incentives from the Scientific Research and Experimental Development (SR&amp;ED) program for experimental work in the field of active energy efficiency and monitoring based commissioning.</p>

		<p>We are also awarded government funds from Industry Research Assistance Program for our project on developing alternatives to building systems energy sub-metering.</p>

	</div>
</div>