<%= content_for(:title, "Industrial Commissioning") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Industrial Commissioning</h1>
		<%= image_tag 'industrialcxmain.png', class: "img-responsive" %>
		<div class="row">
			<div class="col-md-3">
				<p>HEAT &amp; POWER</p>
			</div>
			<div class="col-md-3">
				<p>LABORATORY HIGH CONTAINMENT FACILITIES</p>
			</div>
			<div class="col-md-3">
				<p>HIGH VOLTAGE</p>
			</div>
			<div class="col-md-3">
				<p>DECON CHAMBERS</p>
			</div>
		</div>
	</div>
</div>