<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Inverse Modeling and Performance Benchmarking") %> Inverse Modeling and Performance Benchmarking</h1>
		<%= image_tag 'energyperfmain-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>CES specializes in the mathematical techniques necessary for creating accurate baselines of building energy use and equipment performance, including thermal efficiencies of boilers, heat pumps and chillers. Often these baselines can be created using trend log data from existing sensors and meters through a building’s DDC system, requiring minimal implementation cost.</p>

		<p>Performance benchmarking provides a quantitative method for determining and tracking building performance, allowing building operators and facility managers to measure the success of their energy efficiency projects. CES can work with you to develop tools for a tracking system that meets your specific needs. Eco OPERA Systems provides Energy Management and Information Systems (EMIS) which automate the tracking process and can provide instantaneous feedback over any desired time interval.</p>

		<p>Baselines of equipment performance can be used to monitor key pieces of equipment and to alert building operators to equipment issues that would otherwise go undetected. Equipment baselines can also be used to calibrate building energy models to much higher accuracies, enabling more accurate predictions of energy savings when modifying, re-commissioning, or retrofitting a building. </p>

	</div>
</div>