<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Inverse Modeling and Performance Benchmarking") %> Inverse Modeling and Performance Benchmarking - French</h1>
		<%= image_tag 'energyperfmain-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p></p>

	</div>
</div>