<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Laboratory High Containment Facilities") %> Laboratory High Containment Facilities</h1>
		<%= image_tag 'industrialcxmain-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p><strong>Design Process Management</strong></p>
		
		<p>We are the specialists in the Containment Level 3 Projects design process management performing the following services:
			<ul>
				<li>Acting as a liaison between the user group, design team, construction group and Health Canada/CFIA representatives</li>
				<li>Acting as a key contact in correspondence with Heath Canada/CFIA officials</li>
				<li>Consultation and directions to the design team for the specialty laboratory containment practices</li>
			</ul>
		</p>
		
		<p>Performing a focused review of the laboratories design and construction documents with reference to Health Canada/CFIA Certification requirements for containment level 3 laboratories. The review includes complete laboratory systems design including all architectural, electrical and mechanical services and the Owner equipment.</p>

		<p><strong>Construction Process Management</strong></p>
		
		<p>We are the experts in the Containment Level 3 projects construction process management performing the following services:
			<ul>
				<li>Chairing regular construction meetings between the owner project management team, user group, 
				design team and the construction group</li>
				<li>Construction review and site inspections with the focus on containment envelope and services
				penetration construction details</li>
				<li>Construction trades coordination and activities sequence scheduling with respect to testing and acceptance of the 
				containment envelope, services penetrations and services finishes</li>
				<li>Laboratory equipment shop drawings review and coordination.</li>
			</ul>
    	</p>
    	
    	<p><strong>Commissioning</strong></p>
		
		<p>We provide full scale commissioning services for the Containment Level 3 projects.Our commissioning services typically include the following:
			<ul>
				<li>Preparation of the commissioning specifications (commissioning plan, training and documentation plan) 
				during project design stage.</li>
				<li>Chairing regular commissioning meetings between the owner project management team, user group, 
				design team and the construction group during design and construction phase</li>
				<li>Commissioning of all building systems associated with Containment Level 3 laboratory services</li>
				<li>Preparation of Operation and Maintenance manuals and Systems (training) manuals. </li>
			</ul>
		</p>

		<p><strong>Certifications Adhering to Federal Biosafety Standards</strong></p>

		<p>We provide third party certification for the Containment Level 3 laboratories in line with the federal biosafety standards. Our typical certification services include the following:
			<ul>
				<li>Preparation of the certification scope of work and specifications during project design stage</li>
				<li>Review of the Laboratory Standard Operating Procedures (SOP) with the user group and verification of the laboratory design solution in line with required SOP</li>
				<li>Pressure decay testing of the Containment Level 3 ductwork and HEPA filters assemblies with Sheet Metal Contractor</li>
				<li>Containment barrier leak testing (room testing)</li>
				<li>Equipment and systems fail safe testing verifying containment integrity and directional air flows at all fail conditions</li>
				<li>Preparation and assembly of the final certification report in line with the Federal Biosafety Standards</li>
				<li>Demonstration and validation of laboratory systems operation and fail safe containment integrity in front of federal biosafety officials</li>
			</ul>
		</p>

	</div>
</div>