<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "LEED Certification") %> LEED Certification</h1>
		<%= image_tag 'continuousoptmain.png', class: "img-responsive" %>
		<br>
		<br>
		<p>We offer comprehensive consulting services for administration of the following LEED rating systems certifications: 
		<ul>
			<li>LEED NC (New Construction)</li>
			<li>LEED Core and Shell</li>
			<li>LEED CI (Commercial Interior)</li>
			<li>LEED EB O&amp;M (Existing Building Operation and Maintenance)</li>
		</ul>
		</p>

	</div>
</div>