<%= content_for(:title, "Measurement and Verification") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Measurement and Verification - French</h1>
		<%= image_tag 'measurementmain.png', class: "img-responsive" %>
		<div class="row">
			<div class="col-md-4">
				<p>RETROFIT M&amp;V</p>
			</div>
			<div class="col-md-4">
				<p>WHOLE BUILDING</p>
			</div>
			<div class="col-md-4">
				<p>WHOLE BUILDING SIMULATED</p>
			</div>
		</div>
	</div>
</div>