<%= content_for(:title, "MEP Design Services") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">MEP Design Services - French</h1>
		<%= image_tag 'mepdesignservmain.png', class: "img-responsive" %>
	</div>
</div>