<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "New Construction Design") %> New Construction Design - French</h1>
		<%= image_tag 'continuousoptmain.png', class: "img-responsive" %>
		<br>
		<br>
		<p>We provide full package mechanical, electrical and plumbing design services for new construction projects. The typical design services for these projects include: 
		<ul>
			<li>MEP Systems Design</li>
			<li>Application for Building Permit</li>
			<li>Tendering</li>
			<li>Preparation of tender documentation</li>
			<li>Assisting with RFPs development</li>
			<li>Preparation of standard construction contracts</li>
			<li>Advise on vendors selection</li>
			<li>General Construction Review</li>
			<li>Payment Certification</li>
			<li>Project Management</li>
		</ul>
		</p>

	</div>
</div>