<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Policies Management") %> Policies Management</h1>
		<%= image_tag 'continuousoptmain.png', class: "img-responsive" %>
		<br>
		<br>
		<p>We specialize in helping clients develop following sustainable policies: 
			<ul>
				<li>Energy Management Plan</li>
				<li>HVAC Preventive Maintenance Program</li>
				<li>Water Conservation Policy</li>
				<li>Waste Reduction Policy (Regular Operation and Construction Waste Policy</li>
				<li>Refrigerant Management Policy</li>
				<li>Hazardous Products Management Plan</li>
				<li>Indoor Air Quality Plan</li>
				<li>Building Materials Management Policy</li>
				<li>Tenant Communication Policy</li>
			</ul>
		</p>

	</div>
</div>