<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "System Manuals") %> System Manuals</h1>
		<%= image_tag 'buildingcx-main-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>The systems manual is an essential deliverable of the commissioning process. Usually assembled by the Commissioning Authority, with the assistance of the Contractor and the A/E team, the Systems Manual provides the operating staff with the information needed to understand and optimally operate the commissioned systems. The Systems Manual is provided in addition to the O&amp;M Manuals submitted by the contractors. The Systems Manual generally focuses on operating, rather than maintaining, the equipment. It also focuses on the interactions between systems.</p>

		<p>The systems manual development stretches throughout all phases of the project. It shall be outlined in the Owners Project Requirement during design phase with the responsible parties identified. The systems manuals shall be updated throughout the remainder of the project. Systems manuals components required by the contractor shall be included in the project specifications and the contract documents. </p>

		<p>At a minimum the Systems Manual should include the following for each commissioned system:
			<ul>
				<li>Final version of the Design Narrative</li>
				<li>Single-Line Diagrams, Flow Diagrams</li>
				<li>As-built sequences of operations, control drawings, and original setpoints</li>
				<li>Operating instructions for integrated building systems</li>
				<li>Recommended schedule of maintenance requirements and frequency, if not already included in the O&amp;M Manuals</li>
				<li>Recommended schedule for re-testing of commissioned systems</li>
				<li>Recommended schedule of calibrating sensors and actuators</li>
			</ul>
		</p>
	</div>
</div>