<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Testing and Balancing") %> Testing and Balancing</h1>
		<%= image_tag 'buildingcx-main-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>CES Engineering Ltd has extensive experience in HVAC systems testing and balancing.</p>

		<p>Our services include:
			<ul>
				<li>TAB for Air Systems</li>
				<li>Hydronic Systems</li>
				<li>Kitchen hood systems</li>
				<li>Fume hoods and Bio-Safety cabinet systems</li>
				<li>Exhaust hood systems</li>
				<li>Space pressurization</li>
				<li>Shaft pressurization systems and Existing HVAC systems</li>
			</ul>
		</p>

		<p>We also provide containment or isolation for room’s integrity barrier testing, using door frame and fan assembly in line with ASTM – 779-99 Standard Test Method for Determining Air Leakage Rate by Fan Pressurization and pressure decay duct and piping testing for confirming integrity of air ductwork and piping distribution systems.</p>

		<p>We perform testing and balancing procedures on each system according to the procedures contained in the current edition of the NEBB Procedural Standards for Testing, Adjusting, and Balancing of Environmental Systems. We possess all testing instruments required for performing and/or verifying testing and balancing of an HVAC system. The existing and/or new HVAC systems performance surveys are completed with in-house testing and measuring tools and manpower. </p>
	</div>
</div>