<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Total Building Commissioning") %> Total Building Commissioning</h1>
		<%= image_tag 'buildingcx-main-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>CES Engineering Ltd is an industry leader in British Columbia in providing independent total building commissioning services. Due to the integration and interdependency of facility systems, a performance deficiency in one system will result in less than optimal performance by other systems. The use of Total Building Commissioning (TBC) recognizes the integrated nature of all building systems’ performances, which impact sustainability, workforce productivity, occupant safety and security. The TBC process uncovers deficiencies in design or installation using peer review and field verification.</p>

		<p>Total Building Commissioning is an “umbrella” process for all planning, delivery, verification and managing risk to critical functions performed in or by facilities. Using this integrated process results in a fully functional, fine-tuned facility. TBC expands from the typical LEED Commissioning process by including the non energy related systems (i.e. electrical and technology systems) into the whole building commissioning process. </p>
	</div>
</div>