<div class="row">
	<div class="col-md-3">
		<%= render 'services/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Whole Building Simulated Calibration – Option D") %> Whole Building Simulated Calibration – Option D</h1>
		<%= image_tag 'measurementmain-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>We are the specialists for design, installation, commissioning and implementation of the measurement and verification LEED credit requirements for new construction projects (EA5). Our services for this credit comply with Option D from the 2006 International Performance Measurement and Verification Protocol (IPMVP) Volume III, concept and options for determining energy savings in new construction.</p>

		<p>Our typical LEED NC EA5 services during project design stage include preparation of M&amp;V plan based on the systems design concepts and building energy model inputs and parameters. We also specify utility and sub-metering equipment and provide details about Energy Management Information System requirements.</p>

		<p>During project construction phase we provide on-site commissioning, validation and calibration inspections of the M&amp;V system equipment, devices and sensors. Included in this work is the configuration of data acquisition system, on-site functional verification of the DDC system interfaces with M&amp;V system equipment, devices and sensors, set up of the Energy Management Information System (Eco OPERA) host server (base building energy model configuration, database server, application server, user authorizations), Development of custom energy reports and Initial metering data calibration with water and utility bills.</p>

		<p>During first year operation of the new building we provide Continuous automatic monitoring of energy system equipment and devices, publishing monthly analysis reports to user groups, building operators and design team and entry of monthly water and utility bills into EMIS system.</p>

		<p>At the end of first year operation we provide calibration of the original building energy model with collected metered data. The final annual energy report will provide comparison of between actual, calibrated design energy model and calibrated reference energy model. </p>

	</div>
</div>