<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
  <div class="col-md-3">BUILDING COMMISSIONING</div>
  <div class="col-md-3">INDUSTRILA COMMISSIONING</div>
  <div class="col-md-3">MEASUREMENT AND VERIFICATION</div>
  <div class="col-md-3">ENERGY PERFORMANCE</div>
</div>
<br>
<div class="row">
  <div class="col-md-3">CONTINUOUS OPTIMIZATION</div>
  <div class="col-md-3">ENERGY MANAGEMENT INFORMATION SYSTEMS</div>
  <div class="col-md-3">RETROFIT DESIGN</div>
  <div class="col-md-3">SUSTAINABILITY MANAGEMENT</div>
</div>