<div class="row">
	<div class="col-md-3">
		<%= render 'news/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1>News</h1>
		<p>dynamic load of news from the database will go here.</p>
		<p>all news will be automatically added in the side meny.</p>
		<p>I'll create basic CRUD pages, so any news can be added easily.</p>
	</div>
</div>