<div class="row">
	<div class="col-md-12">
		<%= image_tag 'request-demo.png', class: "img-responsive" %>
		<br>
		<br>
		<p>Eco Opera Systems Inc. is an engineering software company supporting operation and maintenance optimization practices for buildings and industrial processes. </p>
		<p>Eco CEO was evolved from the combination of commissioning, building systems engineering, measurement and verification, data acquisition, energy modeling, statistical data analytics, software engineering and information technology knowledge. </p>
		<p>Eco Opera Systems was founded as an extension to CES Engineering Ltd (commissioning specialty company) and as a natural expansion into area of commissioning of the operation and maintenance processes for buildings and industrial systems.</p>

		<p>For more information visit ECO Opera systems dedicated web page. </p>
	</div>
</div>