<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "BC Cancer Research Centre") %> BC Cancer Research Centre - French</h1>
		<%= image_tag 'bc-cancer-research-center.png', class: "img-responsive" %>
		<br>
		<br>
		<p>
		</p>
	</div>
</div>