<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;">BC Hydro Office Towers Renovations</h1>
		<%= image_tag 'bc-hydro-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>BC Hydro office buildings at Dunsmuir street in downtown Vancouver and Edmonds Complex in Burnaby, BC are undergoing interior renovations as part of the corporate facility improvement program. The renovation areas include over 500,000 square feet of office space. The projects are registered for LEED commercial interior certification.</p>

		<p>The renovations are executed in stages and are planned for completion within five years period. </p>

		<p>CES Engineering is hired by BC Hydro during early design stage as the project LEED Commissioning Authority during project early design stage. To date we have successfully executed LEED commissioning process for 15 separate projects (15 floors renovations). </p>
	</div>
</div>.html.erb