<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;"><%= content_for(:title, "Bioenergy Gasification Heating Plant") %> Bioenergy Gasification Heating Plant</h1>
		<%= image_tag 'unbc-biomass-gasification-heating-plant.png', class: "img-responsive" %>
		<br>
		<br>
		<p>UNBC’s biomass gasification heating plant is the first university owned district heating system using biomass heat. This system provides heat to the core campus buildings and is offsetting about 85% of previous fossil fuel consumption. The plant generates up to 15 MMbtu/hr of hot water utilizing local wood residue as a heating source.</p>
		
		<p>CES Engineering succesfully completed third party commissioning services for this plant. Hired by the Univerisity as Bioplant Commissioning Authority our services included:
			<ul>
				<li>Review of bioplant (Nexterra) systems design and commissioning procedures. Define and clarify commissioning responsibilities between Building General Contractor and Nexterra system.  Review of UNBC/Nexterra contract, and associated P&amp;ID documents</li>
				<li>Act as the Owner’s (UNBC’s) representative during the construction stage to witness system inspections and certifications.  Chair project commissioning meetings and provide site inspections. Address required interface between Bioplant System and UNBC Utilities</li>
				<li>Witness hot and cold commissioning tests as per bioplant’s schedule</li>
				<li>Define and participate in project acceptance as per Performance Test parameters stated in UNBC/bioplant contract</li>
				<li>Review and acceptance of Operations and Maintenance Manuals and plant as-built drawings</li>
				<li>Assist in the Owner's Training and Demonstration Sessions</li>
				<li>Prepare a summary commissioning report at time of substantial performance and a wrap up report at the end of the warranty period.</li>
			</ul>	
		</p>
	</div>
</div>.html.erb