<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Biomass Fueled Combined Heat") %> Biomass Fueled Combined Heat</h1>
		<%= image_tag 'ubc-biomass-combined-heating-plant.png', class: "img-responsive" %>
		<br>
		<br>
		<p>The Bioenergy Research and Demonstration Project will be the first commercial demonstration of its kind in North America of an innovative renewable energy system providing efficient and clean heat and power to UBC Vancouver. The project combines Nexterra biomass gasification technology with GE Energy’s high-efficiency gas engines to convert local, renewable wood fuel into heat and power for campus use. The plant will generate 2 MW electricity and 9,600 lbs/hr steam from the locally sourced urban waste wood.</p>
		
		<p>UBC project services awarded CES Engineering third party commissioning services for the power plant system. The commissioning services include:
			<ul>
				<li>Review of bioplant (Nexterra) systems design and commissioning procedures. Define and clarify commissioning responsibilities between Building General Contractor and Nexterra system.  Review of UBC/Nexterra contract, and associated P&amp;ID documents</li>
				<li>Review “Bioplant - Hazardous Assessment Study” summary and meet with project team to ensure follow up on items by Nexterra and overall acceptance by UBC</li>
				<li>Advise project team on items relating to Building Occupancy related to Bioplant regulatory approvals. Prepare commissioning plan for building occupancy and liaise with project architect and general contractor to achieve building occupancy</li>
				<li>Act as the Owner’s (UBC’s) representative during the construction stage to witness system inspections and certifications.  Chair bi-weekly commissioning meetings and provide site inspections. Address required interface between Bioplant System and UBC Utilities</li>
				<li>Witness hot and cold commissioning tests as per bioplant’s schedule</li>
				<li>Define and participate in project acceptance as per Performance Test parameters stated in UBC/bioplant contract</li>
				<li>Review and acceptance of Operations and Maintenance Manuals and plant as-built drawings</li>
				<li>Prepare a summary commissioning report at time of substantial performance and a wrap up report at the end of the warranty period</li>
			</ul>
		</p>
	</div>
</div>