<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;">BC Cancer Research Centre </h1>
		<%= image_tag 'bc-cancer-research-center.png', class: "img-responsive" %>
		<br>
		<br>
		<p>The BC Cancer Research Centre is a state-of-the-art LEED Gold research facility located in Vancouver, BC. The building’s sustainability features include a heat recovery chiller, exhaust air heat recovery, radiant heating systems and energy efficient lighting.</p>

		<p>CES was hired to conduct an energy audit and retrocommission the building under BC Hydro’s Continuous Optimization program. CES is currently in the investigation phase and has identified nearly two dozen possible measures to improve operation and greatly reduce energy use, particularly for the chilled water plant. The goal of the Continuous Optimization Program is to reduce electrical energy use by 10% but it is anticipated that this target can be greatly exceeded.</p>
	</div>
</div>