<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;">District Educational Centre</h1>
		<%= image_tag 'district-educational-centre.png', class: "img-responsive" %>
		<br>
		<br>
		<p>The construction of the District Education Centre allowed the creation of school district administration services from a single location. The School District previously run its learning support and administration services out of 7 separate facilities distributed throughout the district, making cohesive communication a challenge. </p>

		<p>The new 110,000 square feet building is the state of art facility visually communicating sustainability in design and construction. </p>

		<p>CES Engineering was hired by the school district as the LEED Commissioning Authority for this project. The commissioning activities were completed on time and budget and to the satisfaction of the owner and the project team. </p>
	</div>
</div>.html.erb