<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;">Hot Water Boiler Plant Optimization</h1>
		<%= image_tag 'hot-water-boiler-plant.png', class: "img-responsive" %>
		<br>
		<br>
		<p>Five Vancouver residential towers in BC’s lower mainland underwent boiler plant retrofits to replace the existing the boiler plants with high efficiency condensing boilers and variable speed hot water pumps.</p>
		
		<p>CES provided measurement and verification services for the projects, following IPMVP option B: retrofit isolation.  Through monitoring and tracking overall plant efficiency with a centralized ecoOPERA™ EMIS, we were able to identify deficiencies in the plant control sequences that were causing sub-optimal performance, including low boiler thermal efficiencies.  Recommendations were made to optimize the plant operation.</p>
	</div>
</div>