<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Living Shangri-La") %> Living Shangri-La - French</h1>
		<%= image_tag 'living-shangri-la-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p></p>
	</div>
</div>