<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Living Shangri-La") %> Living Shangri-La</h1>
		<%= image_tag 'living-shangri-la-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>Shangri-la Vancouver is the tallest building in Vancouver (646 feet). This luxury, mixed-use, 665,000 square feet building is North America’s first Shangri-la hotel a completed in 2009. The building is 61 floors tall in addition to five underground parking floors. This building was truly one of the most exciting developments in Vancouver.</p>

		<p>CES Engineering completed LEED commissioning agent services for this project. </p>
	</div>
</div>