<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;">South Peace Community Multiplex</h1>
		<%= image_tag 'south-peace-dawson-creek.png', class: "img-responsive" %>
		<br>
		<br>
		<p>South Peace Community Multiplex is a three-complex facility, including an Agricultural Centre, an Aquatic Centre and an Event Centre. The Multiplex is approximately 260,000 square feet area and includes Aquatic Leisure Centre, which houses a competition swimming pool, smaller pools, saunas, waterslides and change rooms; The EnCana Centre, which provides permanent and moveable seating for 6,500 people as well as skyboxes, kitchen facilities and a 25 000 square feet indoor ice surface; the Lakota Agri-Centre, which includes a riding surface, 100 stalls for horses and cattle and dedicated truck parking. Other amenities offered by the Multiplex include conference and meeting facilities, food stands and a fitness/wellness centre.</p>

		<p>This center includes well over 50 fan systems and associated pumps, piping and ducts as well as numerous pool systems, a heating system and domestic hot water. These systems serve three activity areas with distinct occupancy schedules, equipment and operations.</p>

		<p>CES was hired by the City of Dawson Creek to complete and document the HVAC system re-commissioning following the project occupancy. No third party commissioning agency was involved during project design and construction phase. Our major tasks were completing detailed equipment and HVAC systems functional inspections and generating a comprehensive deficiency list. Included in our scope of work were also the training sessions to the facility group and the City officials using our final commissioning report and training manuals. Based on detailed site inspection, testing and a discussion with the project team (City Facilities Group, User Facility Group, Project Consultant and Construction Team) our final commissioning report summarized the remaining issues requiring minor physical changes to the system and suggested opportunities for energy and operation savings.</p>
	</div>
</div>.html.erb