<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;"><%= content_for(:title, "St. Mary’s Hospital Existing Building") %> St. Mary’s Hospital Existing Building</h1>
		<%= image_tag 'st-mary-expansion-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>YThe existing building of St. Mary’s Hospital, located in Sechelt in BC’s Sunshine Coast, was initially built in 1964 and a number of additions have been added over the years. The building was updated with a digital control system in 2005.</p>

		<p>CES was hired by Vancouver Coastal Health for recommissioning of the existing ventilation, chilled and hot water heating system. The recommissioning process will follow CES Engineering energy savings strategies and measures identified throughout previously completed energy audits and studies.</p>		
	</div>
</div>