<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;"><%= content_for(:title, "Telus Centre") %> Telus Centre</h1>
		<%= image_tag 'telus-centre-2.png', class: "img-responsive" %>
		<br>
		<br>
		<p>CES Engineering is awarder LEED commissioning and Measurement Verification service for Telus Garden project. Telus Garden is targeted to be Canada's first commercial LEED Platinum project. </p>

		<p>As a part of Telus' investments into B.C. over the next couple of years, the company plans to begin development for the Telus Gardan, a massive mixed-use building that will transform the Vancouver block from lame to magnificent.</p>

		<p>The million-square foot, $750 million project will see almost the entire block of prime downtown real estate bounded by Georgia, Robson, Seymour and Richards rebuilt into a technologically and environmentally advanced sites for commerce, employment, and even residential living—half a million square feet of new office space in a 22-storey office tower and 500 residential units in a 44-story tower. The residential component would be built to LEED Gold standard, while the commercial component would be constructed to an incredible LEED Platinum.</p>

		<p>Once complete, the new headquarters will feature 10,000 square feet of green roofs providing organic produce for local restaurants, two elevated roof forests, British Columbia artwork, LED lighting on the western façade projecting programmable coloured images on to fritted glass, and media walls where cultural events such as symphony concerts can be broadcast to the public. The development will also open up new residential, retail, and commercial space on the lower end of Robson Street.</p>
	</div>
</div>.html.erb