<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;">Tsawwassen Spring Apartment</h1>
		<%= image_tag 'tsawwassen-springs.png', class: "img-responsive" %>
		<br>
		<br>
		<p>The Tsawwassen Spring Apartments are part of a master-planned community with a strong commitment to sustainability and the environment.  The Apartments are targeting a minimum LEED rating of silver.  Some of the key energy efficiency design features of the building include – a variable flow water-loop heat pump system connected to a ground source heat exchanger, a ground-source heat pump for domestic hot water pre-heating, a high performance envelope, exhaust air heat recovery, and daylight controls for common area light fixtures.</p>

		<p>CES was hired to validate the Pender Suites design energy efficiency for LEED certification.  The model was created with the modeling program EE4.  The analysis demonstrated an annual energy cost reduction of 39% relative to the MNECB baseline, corresponding to 4 LEED credits for EAc1 – Optimize Energy Performance.</p>
	</div>
</div>