<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;"><%= content_for(:title, "UBC - Life Sciences Center") %> UBC - Life Sciences Center</h1>
		<%= image_tag 'ubc-life-sciences-centre.png', class: "img-responsive" %>
		<br>
		<br>
		<p>The UBC Life Sciences centre is the largest building (550,000 square feet area) on the UBC Vancouver campus. This medical teaching and research facility includes a variety of laboratories, lecture theatres, classrooms, seminar and reading rooms and administration offices. Large scale Vivarium and Containment Level 3 Laboratories are located on the basement floors.</p>

		<p>The multi-phase design, construction and commissioning project stretched over nine years. CES Engineering, acting in a capacity of the project Commissioning Authority on behalf of the UBC Property Trust, was engaged from the early design stage. </p>

		<p>CES Engineering successfully completed LEED commissioning services for this LEED Gold certified project. </p>
	</div>
</div>