<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;"><%= content_for(:title, "University of Northern British Columbia") %> University of Northern British Columbia</h1>
		<%= image_tag 'university-of-northern-bc.png', class: "img-responsive" %>
		<br>
		<br>
		<p>University campus sits on about 5.5 square kilometers property and includes building areas in about 97,500 square meters.</p>

		<p>CES Engineering Ltd was commissioned by the UNBC Facility Department to provide analysis of the boiler plant and campus hot water primary distribution system operation characteristics in light of the recently completed “campus hydronic piping infrastructure improvement” project and the Bio-Energy project.</p>

		<p>New wood chips gasification heating plant has been integrated with the existing boiler plant to compensate for the 15 Million BTU/hr of the campus heating load. As part of the infrastructure project additional heating supply and return water headers were installed in the existing campus heating distribution system to reduce distribution system static pressure and allow improved distribution of primary hot water to end use heat exchangers.</p>

		<p>The followings were the main objectives of this study:
			<ul>
				<li>Define the water flow balance state in the primary heating distribution system after completion of the campus “hydronic piping infrastructure improvement” project</li>
				<li>Define the optimum operating temperatures for the boiler heating plant and the bio-energy heating plant</li>
				<li>Define the most efficient sequences of operation for the existing boiler heating plant in light of the recently completed “campus hydronic piping infrastructure improvement” project and the Bio-Energy project</li>
				<li>Our inspection and analysis proved that the overall heating plant could in fact operate in 212-180 deg F range all year long. With these operating temperatures health and safety hazards of the system operation above boiling water temperature will be diminished</li>
			</ul>
		</p>

		<p>The water flow balance inspections indicated need for installation of additional water balance valves at critical locations throughout campus distribution system.</p>

		<p>The analysis also produced optimum sequences of operation for the integration of the new bio-fuel heating plant and hot water boiler heating plant.</p>
	</div>
</div>.html.erb