<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title"><%= content_for(:title, "Woodward Hill Elementary School") %> Woodward Hill Elementary School - French</h1>
		<%= image_tag 'woodward-hill-elementary.png', class: "img-responsive" %>
		<br>
		<br>
		<p></p>
	</div>
</div>