<div class="row">
	<div class="col-md-3">
		<%= render 'portfolio/side_nav' %>
	</div>
	<div class="col-md-9">
		<h1 style="border-top: 2px solid #ccc; color: #ccc;">Woodward Hill Elementary School</h1>
		<%= image_tag 'the-ces-difference.png' %>
		<br>
		<br>
		<p>Woodward Hill elementary school includes 37,000 square feet floor area accommodating a nominal capacity of 450 students plus 80 kindergarten students.</p>

		<p>CES was contracted by School District #36 to manage and execute commissioning process in line with LEED fundamental and best practice requirements and in line with the School District Green Commissioning practice and program. </p>

		<p>As part of the project commissioning mandate and aside from conventional commissioning process for the mechanical and electrical systems CES developed and executed a comprehensive building envelope testing plan in cooperation with local building envelope commissioning subconsultant.</p>
	</div>
</div>