<h2>About CES</h2>
<ul>
	<li><%= link_to 'About CES', about_about_ces_path %></li>
	<li><%= link_to 'The CES Difference', about_the_ces_difference_path %></li>
	<li><%= link_to 'People', about_people_path %></li>
	<li><%= link_to 'Testimonials', about_testimonials_path %></li>
</ul>