<%= content_for(:title, "Aleksandar Visnjic") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Aleksandar Visnjic</h1>
		<h5> :: </h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'aca.png', style: "float: left; padding-right: 8px;" %>Atza is an Art Director with 23 years of experience in Graphic Design and Fine Arts. He brings necessary knowledge and mind set for developing visual identity, brand presence of high level of impact, in support of our company’s fast paced growth.</p>

				<p>From High School for Industrial Design, University of Art in Belgrade, Academy of Applied Arts and Design, through clientele in Europe, South and North America, Atza built deeper creative sense on how art &amp; design communicates its message, having an influence on social circles and a whole cultures.</p>

				<p>Atza is combining his intuitive problem solving skills through the use of typography, symbol design, photography and video, with a psychology of visual impact on a human psyche, to create unique and inspirational designs. Directing the energy one company caries, through visual, symbolic, graphically presented form, in a such a way that it conveys its true value and powerful message, is Atza’s passion and ultimate goal. </p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>