<%= content_for(:title, "Boban Ratkovich") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Boban Ratkovich - French</h1>
		<h5>M. Sc, P. Eng. CEM, BESA, LEED AP ID+C :: PRESIDENT</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'Boban.png', style: "float: left; padding-right: 8px;" %></p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>