<%= content_for(:title, "Boban Ratkovich") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Boban Ratkovich</h1>
		<h5>M. Sc, P. Eng. CEM, BESA, LEED AP ID+C :: PRESIDENT</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'Boban.png', style: "float: left; padding-right: 8px;" %>Boban Ratkovich is the Principal of CES Engineering Ltd. He is a Registered Professional Engineer in BC and LEED Accredited Professional. Boban is also Certified Energy Manager and Certified Building Energy Simulation Analyst under American Association of Energy Engineers.</p>

				<p>Boban has over 20 years of experience in building systems commissioning. His commissioning practices holistically combine building systems energy analysis and measurement and verification into the total building commissioning process. Boban teaches “Energy Codes and Standards” course under Sustainable Energy Manager Associate Certificate, funded by BC Hydro Power Smart program at the British Columbia Institute of Technology. He also lectures on the Commissioning Curriculum under Sustainable Building Program in Vancouver.</p>

				<p>Boban presented numerous papers and presentations about “Total Building Commissioning Process” at the industry conferences (ASHRAE, NCBC), forums and events. He is instrumental in helping BC Hydro Power Smart New Construction Division launching the enhanced commissioning program offer. Boban is a CSA Committee member for developing a new version of the CSA Z318 Healthcare Building Commissioning Standard and Health Care Facility Operation and Maintenance Standard. He is also a member of the expect review committee for the Canadian Biosafety Standards. Boban is currently member of the Board of Directors for the Building Commissioning Association Western Canadian Chapter. </p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>