<%= content_for(:title, "Brett Crawford") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Brett Crawford - French</h1>
		<h5>P.Eng, LEED AP BD+C :: ASSOCIATE</h5>
		<div class="row">
			<div class="col-md-8">
				<p></p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>