<%= content_for(:title, "Brett Crawford") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Brett Crawford</h1>
		<h5>P.Eng, LEED AP BD+C :: ASSOCIATE</h5>
		<div class="row">
			<div class="col-md-8">
				<p>Brett Crawford is an intermediate project engineer with specialty in managing and administrating total building systems commissioning projects. As a LEED Accredited Professional with Building Design + Construction specialization, Brett has an in-depth knowledge of total building and LEED commissioning requirements.</p>

				<p>Since joining CES in 2008, Brett's commissioning project experience includes a variety of Commercial, Institutional, Educational and Residential buildings. The scope of services on these projects typically includes design reviews and commissioning specifications generation during project design stage, management and implementation of construction phase commissioning activities, O&amp;M manuals reviews and coordination of the training for the building operators and users group. In addition to various LEED commissioning services, Brett has acted as the commissioning agent for the UBC Life Sciences Centre (400,000 square feet medical teaching and research facility) and the YVR domestic terminal expansion project. Brett also serves as part of the Measurement and Verification services team, managing several commercial and institutional projects. Prior to joining CES Engineering, Brett was a mechanical designer with Stantec Consulting in Vancouver, BC. In his spare time, Brett can usually be found snowboarding, kiteboarding, or any other adventure sports activities. </p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>