<%= content_for(:title, "Daniel Alfonso Ponte") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Daniel Alfonso Ponte - French</h1>
		<h5>B.Sc. Mech . Eng. :: ENGINEER</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'daniel.png', style: "float: left; padding-right: 8px;" %></p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>