<%= content_for(:title, "Daniel Alfonso Ponte") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Daniel Alfonso Ponte</h1>
		<h5>B.Sc. Mech . Eng. :: ENGINEER</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'daniel.png', style: "float: left; padding-right: 8px;" %>Daniel Alfonso Ponte is an intermediate project engineer with specialty in building energy data analysis. Daniel specialties include methods for modeling building energy systems, heat transfer processes, creating whole-building energy models using a variety of software programs (EE4, HAP, eQUEST, EnergyPlus, RETScreen) to estimate the energy performance of newly constructed buildings, modeling-assisted Life-Cycle Analysis (LCA) of building energy efficiency measures and creating calibrated energy models of existing buildings based on monitored data, verifying building performance and identifying opportunities for improvement in building performance.</p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>