<%= content_for(:title, "Homayoun Khatami") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Homayoun Khatami - French</h1>
		<h5>P.Eng., CEM, PMP, CMVP, CMC, LEED AP :: ENERGY EFFICIENCY ENGINEER</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'homay.png', style: "float: left; padding-right: 8px;" %></p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>