<%= content_for(:title, "Homayoun Khatami") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Homayoun Khatami</h1>
		<h5>P.Eng., CEM, PMP, CMVP, CMC, LEED AP :: ENERGY EFFICIENCY ENGINEER</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'homay.png', style: "float: left; padding-right: 8px;" %>Homay Khatami is overseeing the CES energy team with specialty in measurement and verification (M&amp;V), energy data analysis, building wide functional performance tests for commissioning, and LEED projects.</p>
 
				<p>As a Professional Engineer and Certified Energy Manager, his responsibilities span from facility audits, design and shop drawings reviews, codes and ratings evaluation, and building automation and operations assessment to provide insights for energy savings and enable operational performance excellence. Homay’s in-depth knowledge on mechanical, electrical, lighting, control and metering systems has empowered him to see forest as with the trees and details when communicating with consultants and contractors during design and construction while maximizing value for clients and public.</p>
 
				<p>Beside his engineering degree, Homay holds M.A. and B.A. in Economics, and has brought 17 years of experience of project management, financial due diligence, life cycle analysis, and business strategy from his private and government positions. He believes taking the quality of job to a next level  highercan go a long way for future generation. </p>
 
				<p>Homay volunteers his time with a few professional NFPs in the energy and engineering domains. He is an avid soccer player, regularly playing as goalie in one Premier team in Vancouver Metro Soccer League.</p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>