<%= content_for(:title, "Johnson Shen") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Johnson Shen</h1>
		<h5>BASc, EIT :: ENERGY MODELLER</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'johnson.png', style: "float: left; padding-right: 8px;" %>Johnson Shen is a recent graduate from the University of British Columbia with a Bachelor of Applied Science in Engineering Physics, Mechanical Option. Johnson worked with CES as a junior commissioning agent while on Co-op and is now involved in Energy analysis projects mainly utilizing energy modeling programs such as eQUEST and EE4.</p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>