<%= content_for(:title, "Laurence Kao") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Laurence Kao</h1>
		<h5> :: </h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'lawrence.png', style: "float: left; padding-right: 8px;" %>Laurence Kao recently obtained his BASc in Mechanical Engineering from UBC. He is an energy efficiency engineer and works on modeling buildings to generate energy analysis reports as well as evaluate possible improvement measures for buildings. Most recently, he has worked on developing the necessary documentation and management policies to achieve BOMA BESt certification for eight office buildings. Prior to his work at CES Engineering, Laurence has worked with the Vancouver School Board in optimizing their DDC programs at numerous schools, as well as with Stantec Consulting as an HVAC system designer.</p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>