<%= content_for(:title, "Marko Manojlovic") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Marko Manojlovic</h1>
		<h5>M.Sc. :: WEB DESIGNER</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'marko.png', style: "float: left; padding-right: 8px;" %>Marko brought over 7 years of Software Engineer experiences to CES Group. Marko's specialities include software development focusing on website and desktop application development.</p>

				<p>As a member of the Software Development team Marko is involved in development of the CES Group advanced energy management information system. The scope of Marko's responsibilities assume the EMIS product's life cycle, starting from the user interface design to the EMIS products' deployment and maintenance.</p>

				<p>Prior to joining CES Group, Marko was an entrepreneur, working for various regional and national corporate clients. </p>	
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>