<%= content_for(:title, "Marko Manojlovic") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Marko Manojlovic - French</h1>
		<h5>M.Sc. :: WEB DESIGNER</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'marko.png', style: "float: left; padding-right: 8px;" %></p>	
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>