<%= content_for(:title, "Risto Basic") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Risto Basic - French</h1>
		<h5>P. Eng, LEED AP BD+C :: VICE PRESIDENT</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'risto.png', style: "float: left; padding-right: 8px;" %>R</p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>