<%= content_for(:title, "Risto Basic") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Risto Basic</h1>
		<h5>P. Eng, LEED AP BD+C :: VICE PRESIDENT</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'risto.png', style: "float: left; padding-right: 8px;" %>Risto is accomplished, seasoned engineer with a strong background in mechanical and electrical design and construction in commercial, institutional, residential and industrial sector. He successfully managed a number of complex construction and engineering projects and teams. Risto has 20 years of experience. He has specialized in developing customized, value oriented, energy conservation solutions. He has worked directly on energy performance based retrofit projects for many years from feasibility studies, design and implementation, to verification and monitoring of energy savings. He has worked on more than 15 design-built projects with guaranteed energy savings. His significant design, project management and construction experience makes him a valuable member of our team. </p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>