<%= content_for(:title, "Robin Donovan") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Robin Donovan</h1>
		<h5> :: </h5>
		<div class="row">
			<div class="col-md-8">
				<p>Robin Donovan is a graduate of Energy Systems Engineering Technologist program at St. Lawrence College in Kingston, Ontario. He has over three years experience as a Building Commissioning Agent who oversaw completion of the ATESS Refinishing Facility at CFB Trenton Prior to joining CES Group, Robin was involved in designing renewable energy systems at a leading energy design firm in Eastern Ontario.</p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>