<%= content_for(:title, "Slobodan Vukadinov") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Slobodan Vukadinov</h1>
		<h5>M.Sc. in E.E. :: VICE PRESIDENT</h5>
		<div class="row">
			<div class="col-md-8">
				<p><%= image_tag 'sloba.png', style: "float: left; padding-right: 8px;" %>Slobodan Vukadinov is the primary system and software architect of the company’s energy management software system and the leader of the company’s software operations.</p>

				<p>Slobodan is a seasoned technologist with a proven track record implementing complex technology solutions. With extensive experience in defense, simulation, telecommunication, gaming and energy management, he brings a broad business perspective to technology solutions.</p>

				<p>Slobodan has a strong history of accomplishment in software design, architecture and development, focusing on custom development, technology infrastructure, project management, team building and leadership. He has extensive practical experience in the entire application development cycle from business requirements through application deployment with global delivery model.</p>

				<p>Before joining CES Group leadership team, Slobodan worked for companies like Raytheon Canada Limited, Thales-Raytheon Systems, Rocket Gaming Systems, Celsius Tech Systems, etc. As an independent entrepreneur he has provided technical advises and has helped develop software systems for clients such as Modus Enterprises, Team Meta Information Systems, and Spark Integration Technology. </p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>