<%= content_for(:title, "Steven Quan") %>
<div class="row">
	<div class="col-md-3">
		<%= render 'about/people' %>
	</div>
	<div class="col-md-9">
		<h1 class="page_title">Steven Quan</h1>
		<h5>BASc, E.I.T. :: ENGINEERING ASSISTANT</h5>
		<div class="row">
			<div class="col-md-8">
				<p>Steven Quan is a recent graduate and engineering assistant with CES Engineering. He has completed his Bachelor of Applied Science in Mechanical Engineering studying the Mechatronics option at the University of British Columbia. </p>
				
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<%= image_tag 'side-vanc.png', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>