<div class="row">
	<div class="col-md-12">
		<h1 class="page_title"><%= content_for(:title, "Contact") %> Contact</h1>
		<p>Vancouver, Toronto, Montreal, Calgary should be added here, without any landing page designs.</p>
	</div>
</div>