body { 
	padding-top: 150px; 
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Raleway', sans-serif;
}
/*
.margin-top{
	margin-top: 77px;
	margin-left: 100px !important;
}
*/

.navbar-default {
	border-top: 3px solid #8cc63f !important;
	border-bottom: none !important;
	background-color: white !important;
}

.nav-header{
   background: transparent url(<%= asset_path 'nav-bkgd.png' %>) no-repeat center center !important;
   background-size:cover !important;
   height: 88px !important;
   z-index: -2;
	float: right !important;
	position: relative !important;
	margin-left: 382px !important;
   margin: 6%;
}

.nav-img-margin {
	margin-left: 381px;
}

.logo-size {
	width: 100px !important;
}

#border-nav-image{
	border-bottom: 2px solid #add477;
}